{{#with data}}
<div class="card">
    <div class="card-header">{{name}}</div>
    <div class="card-body">
        <div class="card-price">
            <span class="card-price-amount">
                ${{price}}
            </span>
            <span class="card-price-duration">
                / mo
            </span>
        </div>
        <ul class="card-description">
            {{#each features}}
            <li class="card-description-item">
                {{this}}
            </li>
            {{/each}}

        </ul>
        <div class="card-btn">
            <button class="btn {{#if @first}}btn-outline-primary{{else}}btn-primary{{/if}}">{{button}}</button>
        </div>
    </div>
</div>
{{/with}}